/* =============
    Base
============= */
body{
    background-color: #0C0C0C;
}
// .gs-dev-tools{
//     display: none !important;
// }

figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

